@import url("fonts/beforetherain/beforetherain.css");
@import url("fonts/typola/typola.css");
@import url("fonts/vijaya/vijaya.css");
@import url("fonts/script/script.css");
@import url("fonts/cordia/cordia.css");

body {
	
}

.wide {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

nav {
	
}

nav ul {
	list-style: none;
}

nav ul li a {
	font-family: 'typolatypola';
}

nav ul li a:hover {
	color: #b20000;
}

/* HOME */

header {
	background-color: white;
	height: 30%;
}

#home h1 {
	font-family: 'before_the_rainregular';
	text-transform: capitalize;
	padding-top: 100px;
	font-size: 3.5rem;
	text-align: center;
}

#home ul {
	list-style: none;
	width: inherit;
	margin: 0 auto;
}

#home ul li {
	text-align: center;
}

#home ul li a {
	font-family: 'typolatypola';
	font-size: 3rem;
	color: black;
	line-height: 3.5rem;
}

#home ul li a img {
	height: 2rem;
	display: none;
}

#home > nav {
	height: 40%;
	background-color: transparent;
}

#home > section {
	height: 25%;
}

/* POETRY */

#poetry, #prose, #instagram, #other {
	padding-top: 50px;
}

#poetry > header, #prose > header, #instagram > header, #other > header {
	height: 13%;
}

#poetry .main-article p {
	font-family: 'vijayaregular';
	font-size: 1.5rem;
	text-align: center;
}

.poetry-main, .other-main {
	height: 70%;
}

.pageTitle {
	font-family: 'typolatypola';
	font-size: 3rem;
}

#poetry .mainArticleTitle {
	font-family: 'vijayaregular';
	text-transform: capitalize;
	text-align: center;
	font-size: 3rem;
}

#poetry .side-article-title {
	font-family: 'vijayaregular';
	text-transform: capitalize;
	text-align: center;
	font-size: 2rem;
}

#poetry .right-side-content p, .responsive-slider {
	font-family: 'vijayaregular';
	text-align: center;
	font-size: 1.2rem;
}

#poetry .left-side-content p, #prose .left-side-content p {
	font-family: 'typolatypola';
	text-align: left;
	font-size: 1.2rem;
}

.theOh {
	font-family: 'before_the_rainregular';
	text-align: right;
}

.theOh:hover {
	color: #b20000;
	cursor: pointer;
}

.main-article-wrapper {
	height: 100%;
}

.main-article {
	height: 100%;
	overflow: auto;
	padding: 0 4% 0 4%;
}

.slider-wrapper {
	padding-top: 60px;
	padding-bottom: 140px;
	background-image: url(../img/typewriter-top.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom; 
}

.responsive-slider p {
	padding: 10px;
}

#poetry a > img {
	width: 35%;
}

#poetry-prev, #poetry-next {
	line-height: 200px;
}

#poetry-prev img, #poetry-next img {
	vertical-align: middle;
}


#poetry > section.slider-wrapper > div > div:nth-child(1){
	text-align: right;
}

.menu {
	text-align: center;
}

.menu ul {
        display: inline-block;
        margin: 0;
        padding: 0;
        /* For IE */
        zoom:1;
        *display: inline;
}

.menu li {
        float: left;
        padding: 2px 15px;
}

.menu li a {
	font-size: 3rem;
	color: black;
}

/* PROSE */

#prose .mainArticleTitle {
	font-family: 'script';
	font-size: 3rem;
	text-transform: capitalize;
	text-align: center;
}

#prose .main-article p {
	font-family: 'cordia_newregular';
	font-size: 1.7rem;
}

#prose .right-side-content h2 {
	font-family: 'script';
	font-size: 3rem;
	text-transform: capitalize;
	text-align: center;
}

#prose .right-side-content h2 p {
	font-family: 'cordia_newregular';
}

.prose-main, .other-main {
	padding-bottom: 140px;
	background-image: url(../img/typewriter-top.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom; 
	height: 100%;
}

/* INSTAGRAM */

.instagram-main {
	padding-bottom: 140px;
	background-image: url(../img/typewriter-top.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom; 
	height: auto;
}

#instagram .mainArticleTitle {
	text-transform: uppercase;
	font-family: 'typolatypola';
	text-align: center;
}

#instagram .left-side-content h2 {
	font-family: 'typolatypola';
	text-transform: uppercase;
}

#instagram .right-side-content h2 {
	font-family: 'typolatypola';
	text-transform: lowercase;
}

#insta-main, #insta-left, #insta-right-top, #insta-right-bottom {
	width: 100%;
}

#insta-main a, #insta-main a img {
	width: 33.33%;
}

#insta-left a, #insta-left a img, #insta-right-top a, #insta-right-top a img, #insta-right-bottom a, #insta-right-bottom a img {
	width: 50%;
}

/* OTHER */

#other .mainArticleTitle {
	text-transform: capitalize;
	font-family: 'typolatypola';
	text-align: center;
}

#other .main-article p {
	font-family: 'cordia_newregular';
}

#other .left-side-content h2:nth-child(1) {
	font-family: 'typolatypola';
	text-transform: lowercase;
}

#other .left-side-content h2:nth-child(2) {
	font-family: 'typolatypola';
	text-transform: uppercase;
}

#other .right-side-content h2 {
	font-family: 'typolatypola';
	text-transform: capitalize;
}

#other .right-side-content p {
	font-family: 'cordia_newregular';
}

footer {
	background-color: transparent;
	height: 30%;
	color: white;
	text-align: center;
	font-family: 'typolatypola';
	background-image: url(../img/typewriter-bottom.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom; 
}

#copyright {
	background-color: #0a0a0a;
	color: white;
	text-align: center;
	font-family: 'typolatypola';
}


/* Small screens */
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {

.wide {
	width: 100%;
}

.theOh {
	text-align: center;
}

footer {
	height: 10%;
}

.menu li {
	float: none;
	border-bottom: solid 1px #ababab;
}

.menu li a {
	font-size: 2rem;
}

#poetry a img {
	width: 50px;
}

.controls {
	padding: 5px;
}

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */