@import url("fonts/beforetherain/beforetherain.css");
@import url("fonts/typola/typola.css");
@import url("fonts/vijaya/vijaya.css");

html, body {
	height:100%;
	margin: 0;
}

body {
	/*background-image: url(../img/typewriter.png);*/
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom; 
}

.wide {
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

nav ul {
	list-style: none;
}

nav ul li a {
	font-family: 'typolatypola';
}

/* HOME */

header {
	background-color: white;
	height: 30%;
}

#home h1 {
	font-family: 'before_the_rainregular';
	text-transform: capitalize;
	padding-top: 100px;
	font-size: 3.5rem;
	text-align: center;
}

#home ul {
	list-style: none;
	width: inherit;
	margin: 0 auto;
}

#home ul li {
	text-align: center;
}

#home ul li a {
	font-family: 'typolatypola';
	font-size: 3rem;
	color: black;
	line-height: 3.5rem;
}

#home ul li a img {
	height: 2rem;
	display: none;
}

#home > nav {
	height: 40%;
	background-color: transparent;
}

#home > section {
	height: 25%;
}

/* POETRY */

#poetry {
	padding-top: 50px;
}

#poetry .main-article p {
	font-family: 'vijayaregular';
	font-size: 1.3rem;
	text-align: center;
}

.poetry-main {
	height: 70%;
}

.pageTitle {
	font-family: 'typolatypola';
	font-size: 3rem;
}

#poetry .mainArticleTitle {
	font-family: 'vijayaregular';
	text-transform: capitalize;
	text-align: center;
}

.theOh {
	font-family: 'before_the_rainregular';
}

.main-article-wrapper {
	height: 100%;
}

.main-article {
	height: 100%;
	overflow: auto;
	padding: 0 4% 0 4%;
}

footer {
	background-color: transparent;
	height: 5%;
	color: white;
	text-align: center;
	font-family: 'typolatypola';
}